<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/g2">G2 Test</a></li>
        <li><a href="/g">G Test</a></li>
        <li><a href="/login">Login/Sign Up</a></li>
        <% if (typeof user !== 'undefined') { %>
            <li><a href="/logout">Logout</a></li>
        <% } %>
    </ul>
</nav>
